.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(14, 9, 35, 0.88);
  z-index: 101;
  border-bottom: solid 2px #ff9000;
}

.header_content {
  width: 100%;
}

.logo {
  margin: 0 auto;
  height: 100px;
  max-width: 150px;
  padding-top: 35px;
  margin-bottom: 60px;
}

.logo img {
  height: auto;
  max-width: 100%;
}

.header_base {
  display: flex;
}

.navbar-light .navbar-nav .nav-item.active > .nav-link {
  color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-light .navbar-nav .nav-item > .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-expand-lg .navbar-nav {
  justify-content: space-between;
}

@media all and (max-width: 800px) {
}

@media all and (max-width: 600px) {
  .container .nav-bar {
    background: rgba(0, 0, 0, 0.5);
  }

  .mobile-title {
    color: #ecececbe !important;
  }
}
